body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#toolbar {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    flex-wrap: wrap;
}
#canvas-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    overflow: auto;
    margin-top: 10px;
    scrollbar-width: thin;  /* Opzioni: 'auto', 'thin', 'none' */
}
.canvas-container {
    border: 2px solid black;
}
button {
    padding: 8px 15px;
    cursor: pointer;
    margin: 2px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button:hover {
    background-color: #e0e0e0;
}
button.active {
    background-color: #4CAF50;
    color: white;
}
#rectangle-controls, #text-controls, #line-controls {
    display: flex;
    gap: 10px;
    border-left: 1px solid black;
    padding-left: 10px;
}
input[type="color"], input[type="number"], select {
    padding: 5px;
    margin: 2px;
}
input[type="color"] {
    padding: 9px;
}
.grid-toggle,
.midline-toggle,
.margin-toggle {
    margin: auto 0px auto 0px;
}
#text-controls label,
#rectangle-controls label,
#line-controls label {
    align-self: center;
}