html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    margin: 10px;
}
#config {
    flex: 1;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}
.borders {
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    width: 100%;
}
.div_config {
    border: 1px solid cornflowerblue;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}
.errors {
    color: #dc3545;
}
.modal {
    transition: opacity 0.3s ease-in-out;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    margin-left: 0px !important;
}
.modal-content {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
    max-width: 90%;
}
.container-buttons {
    display: flex;
    gap: 5px;
    margin: 10px 0px 0px 0px;
}
.right {
    justify-content: flex-end;
}
.left {
    justify-content: flex-start;
}
.div_config > div,
.div_config > button:last-of-type,
.div_config > ul {
    margin-left: 20px;
}
li {
    gap: 20px;
}
h3 {
    display: flex;
    flex-direction: row;
}
input {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera sugli input */
    transition: box-shadow 0.3s ease; /* Transizione morbida per l'ombra */
}
input:focus {
    box-shadow: 0 4px 8px rgba(83, 83, 255, 0.3); /* Ombra più intensa quando è in focus */
    outline: none;
}
input[type="checkbox"] {
    width: auto;
    max-width: none;
}
button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: whitesmoke;
    cursor: pointer;
    opacity: 0.6; /* Inizialmente disabilitato */
    pointer-events: none; /* Disabilita il click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra del pulsante */
    transition: box-shadow 0.3s ease; /* Transizione morbida per l'ombra */
}
button:disabled {
    opacity: 0.6; /* Disabilitato */
    pointer-events: none; /* Disabilita il click */
}
button:hover {
    box-shadow: 0 4px 8px rgba(83, 83, 255, 0.3); /* Ombra piu' intensa al passaggio del mouse */
}
button:enabled {
    opacity: 1; /* Quando abilitato, aumenta l'opacità */
    pointer-events: auto; /* Abilita il click */
}
.delete-btn,
.edit-btn {
    background-color: transparent;
    padding: 0px !important;
}
.red-button {
    background-color: #dc3545;
    color: #ddd;
}
.width-50-px {
    width: 50px;
}
.width-fit-content {
    width: fit-content;
}
.delete-btn,
.edit-btn {
    border: none !important;
    width: auto !important;
    box-shadow: none !important;
}
hr {
    color: white;
}
.releConfiguration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    width: 150px;
    padding: 0px 8px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.releConfiguration .delete-btn {
    display: none;
}
.releConfiguration:hover {
    box-shadow: 0 4px 8px rgba(83, 83, 255, 0.3); /* Ombra piu' intensa al passaggio del mouse */
}
.releConfiguration:hover .delete-btn {
    display: block; /* Mostra il pulsante al passaggio del mouse */
}
.gray {
    color: gray;
}
.modal select {
    width: 100%;
}